<ul class="links" aria-label="Profiles">
  <li><a class="email" data-u="{{ site.author.email_user }}" data-d="{{ site.author.email_domain }}" href="#">{{ site.author.email_user }} [at] {{ site.author.email_domain }}</a></li>
  <li><a href="https://scholar.google.com/citations?user={{ site.author.scholar }}">Google Scholar</a></li>
  <li><a href="https://orcid.org/{{ site.author.orcid }}">ORCID</a></li>
  <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/">LinkedIn</a></li>
</ul>
